[Unit]
Description=Megathread Manager Service

[Service]
Type=simple
ExecStart=%h/bots/megathread-manager/env/bin/python -u %h/bots/megathread-manager/megathreadmanager.py start
Restart=on-failure
RestartSec=60
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=default.target
