[Unit]
Description=Sub Manager Service

[Service]
Type=simple
ExecStart=%h/bots/submanager/env/bin/python -u -m submanager start
Restart=on-failure
RestartSec=60
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=default.target
